## Default files

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

## Additional files

# Environment files
.env
.env.*
!.env.example

# Build cache
.cache/
.temp/

# Debug files
dump.rdb
*.pid

# Editor
.idea/
.vscode/
*.swp